@model dashboard_HospitalGuide_.Models.BloodNeed

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>اضافه مقال جديد</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/forms/css/bootstrap.css" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/forms/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/forms/css/responsive.css" rel="stylesheet" />

</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BloodNeed</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

    <section class="contact_section" style="width:1200px;padding-top:40px;background-color: #0AC88B;">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="contact-form" style="padding-top:4px">
                        <h5>
                            تعديل خبر
                        </h5>
                        <form action="">
                            <div>
                                <label style="margin-left:470px;margin-bottom:1px;color:white">الفصيله الناقصه</label>

                                @Html.DropDownList("Blood_ID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Blood_ID, "", new { @class = "text-danger" })
                            </div>

                           

                            <div class="d-flex justify-content-center">
                                <input type="submit" value="تعديل" class="btn_on-hover" style="background-color: white; color: #0AC88B" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6" style="right:370px;top:-50px;">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h3>
                                تعديل
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
